<h1>Congratulations on finishing your race, <%=@user.name%>!</h1>
<h2>Enter your statistics below:</h2>

<p><form action ="/races" method="POST">
    Name of Race: <input type = "text" name="name"><br>
    <label for="distance">Distance:</label>
    <select name="distance" id="distance">
        <option value="Marathon">Marathon</option>
        <option value="Half-Marathon">Half-Marathon</option>
        <option value="10k">10k</option>
        <option value="5k">5k</option>
    </select><br>
    Location: <input type = "text" name="location"><br>
    Finish time: <input type-"text" name ="finish_time"><br>
    Pace (per mile): <input type-"text" name ="pace"><br>
    <input type="submit" value="Create New Race">
</form>
</p>