<h1>Congratulations on finishing your race, <%=current_user.name%>!</h1>
<h2>Enter your race information below:</h2>

<p><form action ="/races" method="POST">
    <label for="name">Name of Race:</label>
        <input type = "text" name="name"><br>
    <label for="distance">Distance:</label>
    <select name="distance" id="distance">
        <option value="5k">5k</option>
        <option value="10k">10k</option>
        <option value="15k">15k</option>
        <option value="20k">20k</option>
        <option value="4 Mile">4 Mile</option>
        <option value="5 Mile">5 Mile</option>
        <option value="10 Mile">10 Mile</option>
        <option value="Half-Marathon">Half-Marathon</option>
        <option value="Marathon">Marathon</option>
    </select><br>
    <label for="date">Date:</label>
        <input type="date" name="date"><br>
    <label for="location">Location:</label>
        <input type = "text" name="location"><br>
    <label for="finish_time">Finish Time: </label>
        <input type="text" pattern="\d{2}:[012345][0-9]:[012345][0-9]" name ="finish_time" placeholder="hh:mm:ss"><br>
    <label for="pace">Pace per Mile: </label>
        <input type="text" pattern="[012345][0-9]:[012345][0-9]" name ="pace" placeholder="mm:ss">
        <br><br>
    <input class="new" type="submit" value="Create New Race">
</form> 
</p>