<h1>Congratulations on finishing your race, <%=@user.name%>!</h1>
<h2>Enter your statistics below:</h2>

<p><form action ="/races" method="POST">
    Name of Race: <input type = "text" name="name"><br>
    <label for="distance">Distance:</label>
    <select name="distance" id="distance">
        <%Race.all.select(:distance).uniq.each do |race|%>
        <option value="<%=race.distance%>"><%=race.distance%></option>
        <%end%>
    </select><br>
    Location: <input type = "text" name="location"><br>
    Finish time: <input type-"text" name ="finish_time"><br>
    Pace (per mile): <input type-"text" name ="pace"><br>
    <input type="submit" value="Create New Race">
</form>
</p>