<h1>Welcome to your Race Tracker, <%=current_user.name%>!</h1>

<h2>View a race category below or create a new race:</h2>
<ul> 
    <%Race.all.select(:distance).uniq.each do |race|%>
    <li><a href="/users/races/<%=race.slug_distance%>"><%=race.distance%>s</a></li>
    <%end%>
    <li><a href="/users/all_races">All Races</a></li>
</ul>
<a href='/races/new'>Create a new race!</a>