<h2>Sign up below to join Race Tracker!</h2>
<%if flash[:email]%>
    <%=flash[:email]%>
<%elsif flash[:username]%>
    <%=flash[:username]%>
<%end%>

<p><form action="/signup" method="POST">
    Name: <input type = "text" name = "name" maxlength="30"><br>
    Username: <input type = "text" name = "username" maxlength="20"><br>
    Email: <input type="email" name = "email" maxlength="30"><br>
    Create Password (max 10 characters): <input type="password" name="password" maxlength="10"/><br>
    <input type = "submit" value = "Sign Up!">
</form>
</p>