<h1>Sign up below to join Race Tracker!</h1>

<p><form action="/signup" method="POST">
    Name: <input type = "text" name = "name"><br>
    Username: <input type = "text" name = "username"><br>
    Email: <input type = "email" name = "email"><br>
    Create Password: <input type = "password" name = "password"><br>
    Verify Password: <input type = "password" name = "verify_password"><br>
    <input type = "submit" value = "Sign Up!">
</form>
</p>