<div class="welcome-header">
    <h1 style="font-variant: small-caps;">Welcome to Race Tracker!</h1>
    <h5>A place to save and compare all your race data!</h5><br>
</div>
<div class="image">
    <img src="/images/welcome_run.png" text-align="center" style="border:2px solid black">
</div><br>
<p class="links">
    <a href='/signup'>Sign Up</a>
    <a href='/login'>Login</a>
</p>